<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">BBS</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">随笔 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">文字</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">更多详情</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
          {% if request.user.is_authenticated %}
            <li><a href="#">{{ request.user.username }}</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                 aria-haspopup="true" aria-expanded="false">更多操作 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">修改密码</a></li>
                <li><a href="{% url '_backend' %}">后台管理</a></li>
                <li><a href="{% url '_set_avatar' %}">修改头像</a></li>
                <li><a href="{% url '_logout' %}">注销</a></li>
    {#            <li role="separator" class="divider"></li>#}
    {#            <li><a href="#">更多</a></li>#}
              </ul>
            </li>
          {% else %}
              <li><a href="{% url '_login' %}">登陆</a></li>
              <li><a href="{% url '_register' %}">注册</a></li>
          {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
<!-- Large modal -->

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <h2 class="text-center">修改密码</h2>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="">用户名</label>
                    <input type="text" name="username" value="{{ request.user.username }}" class="form-control" disabled>
                </div>
                <div class="form-group">
                    <label for="id_old_password">原密码</label>
                    <input type="text" name="old_password" class="form-control" id="id_old_password">
                </div>
                <div class="form-group">
                    <label for="id_new_password">新密码</label>
                    <input type="text" name="new_password" class="form-control" id="id_new_password">
                </div>
                <div class="form-group">
                    <label for="id_confirm_password">确认密码</label>
                    <input type="text" name="confirm_password" class="form-control" id="id_confirm_password">
                </div>
                <button class="btn btn-primary" id="id_set">确认修改</button>
                <button class="btn btn-default" data-dismiss="modal">取消</button>&nbsp;
                <span style="color: red"></span>
                <br>
                <br>
                <p></p>
                <p></p>
            </div>

        </div>
    </div>
  </div>
</div>





<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title text-center">在线代打</h3>
              </div>
              <div class="panel-body">悬赏500万，在线代打</div>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title text-center">在线代骂</h3>
              </div>
              <div class="panel-body">悬赏500万，在线代骂</div>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title text-center">在线代吃</h3>
              </div>
              <div class="panel-body">悬赏500万，在线代吃</div>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title text-center">在线代睡</h3>
              </div>
              <div class="panel-body">悬赏500万，在线代睡</div>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title text-center">在线征婚</h3>
              </div>
              <div class="panel-body">悬赏500万，在线征婚</div>
            </div>
        </div>

        <div class="col-md-8">

            <ul class="media-list">
              {% for article in page_queryset %}
                <li class="media">
                <h4 class="media-heading"><a href="/{{ article.blog.userinfo.username }}/article/{{ article.pk }}">{{ article.title }}</a></h4>
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="/media/{{ article.blog.userinfo.avatar }}" alt="..." width="60px">
                  </a>
                </div>
                <div class="media-body">

                  {{ article.desc }}

                </div>
                    <br>
{#                darjun 发布于 2020-01-18 17:29 评论(0)阅读(8)#}
                <span>  <a href="{% url '_site' article.blog.site_name %}">{{ article.blog.site_name }}</a> </span>
                <span>发布于&nbsp;</span>
                <span>{{ article.create_time|date:'Y-m-d' }}&nbsp;</span>
                <span><span class="glyphicon glyphicon-comment"></span>评论({{ article.comment_num }})&nbsp;&nbsp;</span>
                <span><span class="glyphicon glyphicon-hand-right"></span>点赞&nbsp({{ article.up_num }})</span>
              </li>
                  <hr>
              {% endfor %}


            </ul>
<div class="pull-right"> {{ page_obj.page_html|safe }}</div>
        </div>

        <div class="col-md-2">
             <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title text-center">在线求打</h3>
              </div>
              <div class="panel-body">悬赏500万，在线求打</div>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title text-center">在线求骂</h3>
              </div>
              <div class="panel-body">悬赏500万，在线求骂</div>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title text-center">在线求吃</h3>
              </div>
              <div class="panel-body">悬赏500万，在线求吃</div>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title text-center">在线求睡</h3>
              </div>
              <div class="panel-body">悬赏500万，在线求睡</div>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title text-center">在线求子</h3>
              </div>
              <div class="panel-body">悬赏500万，在线求子</div>
            </div>
        </div>
        </div>
    </div>
{#</div>#}

<script>
    $('#id_set').click(function () {
        var $btn = $(this);
        $.ajax({
            url: '{% url "_set_pwd" %}',
            type: 'post',
            data: {
                old_pwd: $('#id_old_password').val(),
                new_pwd: $('#id_new_password').val(),
                confirm_pwd: $('#id_confirm_password').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (data) {
                if (data.code===1000) {
                    location.href = data.url
                }else {
                    $btn.next().next().text(data.msg)
                }
            }
        })
    })
</script>


</body>
</html>